/*color bullet point*/

:root {
    --main-bg-color: #d3d3d3; /* CSS variable with fallback */
    --text-color: #333;
}

body {
    background-color: var(--main-bg-color, grey); /* Using CSS variable with fallback */
    color: var(--text-color);
}

h1 {
    color: rgb(0, 0, 255); /* Example using RGB */
}

h2 {
    color: hsla(10, 20%, 40%, 0.3); /* Example using HSLA */
}
