/*color bullet point*/

:root {
    --main-bg-color: #f0f0f0;
    --accent-color: #ff4500;
    --text-color: #333;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color, black);
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
}
